/* page title h1*/
.reservation-ttl {
  font-size: 1.5rem;
  color: #001219;
}

/*form title*/
.hours__ttl, .calender__label, .participant__ttl, .duration__ttl, .hall__ttl {
  display: block;
  margin: 2.375rem 0 1rem 0;
  font-size: 1.125rem;
  font-weight: 600;
  background-color: hsla(39, 100%, 47%, 0.5);
  padding: 0.5rem;
}
@media screen and (min-width: 960px) {
  .hours__ttl, .calender__label, .participant__ttl, .duration__ttl, .hall__ttl {
    width: 40%;
    aspect-ratio: 6.67;
    font-size: 1rem;
  }
}

/*form input*/
.participant__input, .duration__select, .hall__select {
  font-size: 1.125rem;
  position: relative;
  display: inline-block;
  height: 2.5rem;
  padding: 0.5rem;
  background-color: #ffffff;
  border: 1px solid hsla(197, 100%, 5%, 0.5);
  filter: drop-shadow(0px 3px hsla(197, 100%, 5%, 0.5));
}
@media screen and (min-width: 960px) {
  .participant__input, .duration__select, .hall__select {
    height: 2.5rem;
    font-size: 1rem;
  }
}

.duration__select, .hall__select {
  width: calc(100% - 1rem);
  margin: 0 0.5rem;
}
@media screen and (min-width: 960px) {
  .duration__select, .hall__select {
    width: calc(50% - 1rem) !important;
    aspect-ratio: 6.67;
  }
}

.duration__select, .hall__select {
  background-image: url('data:image/svg+xml,<svg width="24" height="13" viewBox="0 0 24 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 1.5L12 11.5L22 1.5" stroke="%23001219" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: calc(100% - 0.5rem);
}

.closed-simple-arrow {
  background-image: url('data:image/svg+xml,<svg width="24" height="13" viewBox="0 0 24 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M22 11.25L12 1.25L2 11.25" stroke="%23001219" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}

/*root*/
:root {
  font-size: 16px;
}
@media screen and (min-width: 960px) {
  :root {
    font-size: 24px;
  }
}

body {
  font-family: "Roboto", sans-serif;
}

/*reset*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
}

a:link,
a:visited {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

select:hover {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/*utils*/
.container {
  max-width: 1440px;
  margin: 0 auto;
}

.section {
  margin: 2.375rem 0 !important;
  text-align: center;
}

.current {
  color: #9b2226 !important;
}

.link, .social-media__ttle, .footer-nav__ttle {
  font-size: 1rem;
  color: #005f73;
  margin: 1rem;
}

.active {
  color: #ffffff;
  background-color: #0a9396;
}

.disactive {
  color: #9b2226;
  background-color: #F5F5F5;
}

.error {
  color: #9b2226 !important;
}

@media screen and (min-width: 960px) {
  .warp-input {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}
/* components */
/*btn*/
.btn, .contact-us__btn, .artcl__btn, .about-us__btn, .card__btn, .reserve__btn {
  font-size: 1.125rem;
  padding: 0.5rem 1rem;
  color: #ffffff;
}

.btn--blue-petrol, .contact-us__btn, .artcl__btn, .about-us__btn, .card__btn, .reserve__btn {
  background-color: #005f73;
  margin-top: 2rem;
  stroke: #ffffff;
}
.btn--blue-petrol:hover, .contact-us__btn:hover, .artcl__btn:hover, .about-us__btn:hover, .card__btn:hover, .reserve__btn:hover {
  background-color: #ffffff;
  border: solid #005f73 1px;
  color: #005f73;
  stroke: #005f73;
}

.hero-banner__btn {
  background-color: #ca6702;
}
.hero-banner__btn:hover {
  background-color: #ffffff;
  border: solid #ca6702 1px;
  color: #ca6702;
}

.circle-btn {
  background-image: url('data:image/svg+xml,<svg width="44" height="24" viewBox="0 0 44 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 2L22.2446 22.2459L42.4891 2" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
  width: 4rem;
  aspect-ratio: 1/1;
  background-color: #ca6702;
  border-radius: 50%;
  display: flex;
  align-content: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
}
.circle-btn:hover {
  background-image: url('data:image/svg+xml,<svg width="44" height="24" viewBox="0 0 44 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 2L22.2446 22.2459L42.4891 2" stroke="%23CA6702" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-color: #ffffff;
  border: solid #ca6702 1px;
  width: 4.5rem;
}

.contact-us__btn {
  size: 100vw;
  height: 7.4rem;
  max-height: 10.7rem;
  background-image: url('data:image/svg+xml,<svg width="66" height="67" viewBox="0 0 66 67" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.95176 7.72273C8.97935 3.48728 10.4027 2.29935 12.119 1.7465C13.3068 1.43581 14.5525 1.41854 15.7485 1.69625C17.3229 2.15314 17.7394 2.50038 22.9019 7.63592C27.4375 12.1455 27.8906 12.6344 28.3254 13.5162C29.157 15.0641 29.287 16.8926 28.6824 18.5421C28.2247 19.7985 27.5748 20.6301 24.8241 23.3852L23.03 25.181C22.5591 25.6589 22.4483 26.3845 22.7554 26.9812C26.7418 33.7698 32.3969 39.4312 39.1862 43.4295C39.9679 43.8471 40.9304 43.7124 41.5661 43.096L43.2916 41.4009C44.358 40.3094 45.4875 39.2814 46.6739 38.3214C48.5375 37.1792 50.8594 37.0773 52.8159 38.0519C53.7725 38.5087 54.0883 38.792 58.7658 43.4524C63.5898 48.2544 63.7271 48.4052 64.258 49.5063C65.2571 51.3288 65.2466 53.5366 64.2305 55.35C63.7133 56.3735 63.3975 56.7436 60.6835 59.5124C59.045 61.1846 57.5026 62.7106 57.2555 62.9345C55.0165 64.7849 52.1441 65.6928 49.246 65.4657C43.9443 64.9832 38.8123 63.3471 34.2112 60.6729C24.0195 55.2819 15.343 47.4279 8.97478 37.828C7.58773 35.8185 6.3546 33.7077 5.28586 31.5136C2.41886 26.6079 0.938349 21.0182 1.00197 15.3392C1.22083 12.3683 2.64802 9.61621 4.95176 7.72273Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-size: 4rem;
  background-repeat: no-repeat;
  background-position-x: calc(50% - 8rem);
  background-position-y: 50%;
}
.contact-us__btn:hover {
  background-image: url('data:image/svg+xml,<svg width="66" height="66" viewBox="0 0 66 66" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.95176 7.22273C8.97935 2.98728 10.4027 1.79935 12.119 1.2465C13.3068 0.935812 14.5525 0.918543 15.7485 1.19625C17.3229 1.65314 17.7394 2.00038 22.9019 7.13592C27.4375 11.6455 27.8906 12.1344 28.3254 13.0162C29.157 14.5641 29.287 16.3926 28.6824 18.0421C28.2247 19.2985 27.5748 20.1301 24.8241 22.8852L23.03 24.681C22.5591 25.1589 22.4483 25.8845 22.7554 26.4812C26.7418 33.2698 32.3969 38.9312 39.1862 42.9295C39.9679 43.3471 40.9304 43.2124 41.5661 42.596L43.2916 40.9009C44.358 39.8094 45.4875 38.7814 46.6739 37.8214C48.5375 36.6792 50.8594 36.5773 52.8159 37.5519C53.7725 38.0087 54.0883 38.292 58.7658 42.9524C63.5898 47.7544 63.7271 47.9052 64.258 49.0063C65.2571 50.8288 65.2466 53.0366 64.2305 54.85C63.7133 55.8735 63.3975 56.2436 60.6835 59.0124C59.045 60.6846 57.5026 62.2106 57.2555 62.4345C55.0165 64.2849 52.1441 65.1928 49.246 64.9657C43.9443 64.4832 38.8123 62.8471 34.2112 60.1729C24.0195 54.7819 15.343 46.9279 8.97478 37.328C7.58773 35.3185 6.3546 33.2077 5.28586 31.0136C2.41886 26.1079 0.938349 20.5182 1.00197 14.8392C1.22083 11.8683 2.64802 9.11621 4.95176 7.22273Z" stroke="%23005F73" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}

@media screen and (min-width: 960px) {
  .circle-btn {
    display: none;
    visibility: hidden;
  }
}
/*card*/
.card {
  text-align: center;
  gap: 2rem;
  color: #001219;
  background-color: #ee9b00;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card--padding {
  padding: 2rem 2.5rem;
}
.card__txt {
  padding: 0rem 1rem;
}
.card__ttl {
  font-size: 1.5rem;
}
.card__ttl--h3 {
  font-size: 1.125rem;
}
.card__img {
  width: 100%;
  aspect-ratio: 3/2;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: hsla(197, 100%, 5%, 0.5);
}
.card-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 960px) {
  .card-holder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
  }
}
.card-events {
  width: 360px;
  padding-bottom: 2.375rem;
}
/* sub-headi,g */
.sub-heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  gap: 2rem;
  margin-bottom: 2.375rem;
}
.sub-heading__txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sub-heading__ttl--black {
  color: #001219;
}
.sub-heading__ttl--red {
  color: #9b2226;
}
.sub-heading__txt {
  text-align: center;
}

/*header*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0.5rem 2rem 0.5rem;
}
.header-nav__btn {
  width: 4rem;
  aspect-ratio: 2;
  background-image: url('data:image/svg+xml,<svg width="36" height="20" viewBox="0 0 36 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 2H34M2 10H34M2 18H34" stroke="%23E76F51" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
}
@media screen and (min-width: 960px) {
  .header-nav__btn {
    display: none;
  }
}
.header-nav__menu {
  display: none;
}
.header-nav__menu--side {
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  position: absolute;
  top: 3.2rem;
  right: 0;
  z-index: 1;
  min-width: 160px;
  background-color: #ffffff;
}
.header-nav__menu-link {
  font-size: 0.667rem;
  color: #001219;
  text-decoration: underline !important;
}
.header-nav__menu-link:hover, .header-nav__menu-link:focus {
  color: #0a9396;
}
@media screen and (min-width: 960px) {
  .header-nav__menu {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.logo {
  height: 3.125rem;
  aspect-ratio: 125/50;
}

/*hero banner*/
.hero-banner {
  height: calc(100vh - 6.125rem);
  background-image: linear-gradient(hsla(197, 100%, 5%, 0.5), hsla(197, 100%, 5%, 0.5)), url(../img/herobanner.webp);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 3rem;
  color: #ffffff;
}
.hero-banner__ttl {
  font-size: 1.5rem;
  text-align: center;
}
.hero-banner__subttl {
  text-align: center;
}

/* open houres*/
.open-heures__ttl {
  display: flex;
  gap: 3rem;
}
.open-heures__ttl::before {
  content: url('data:image/svg+xml,<svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3 9.82353L9.44444 3M61 9.82353L54.5556 3M22.3333 33.7059L28.7778 40.5294L41.6667 26.8824M57.7778 33.7059C57.7778 48.7801 46.2367 61 32 61C17.7633 61 6.22222 48.7801 6.22222 33.7059C6.22222 18.6318 17.7633 6.41176 32 6.41176C46.2367 6.41176 57.7778 18.6318 57.7778 33.7059Z" stroke="%23E76F51" stroke-width="5.33333" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}

.open-houres__txt {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 0rem;
  font-size: 1.125rem;
  line-height: auto;
  font-weight: 600;
}
@media screen and (min-width: 960px) {
  .open-houres__txt {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.open-houres__txt--black {
  color: #001219;
}

.open-houres__txt--blue-petrol {
  color: #005f73;
}

.open-houres__txt--red {
  color: #9b2226;
}

/* articles */
.artcl-holder {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2.375rem;
}
.artcl-item {
  display: grid;
  grid-template-columns: 40% auto;
  grid-template-rows: auto;
  grid-template-areas: "a b" "a c";
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.artcl-item__img {
  width: 100%;
  grid-area: a;
  -o-object-fit: cover;
     object-fit: cover;
}
.artcl-item__ttle {
  font-size: 0.875rem;
  font-weight: 100;
  grid-area: b;
  overflow: hidden;
  display: block;
  text-align: start;
}
.artcl-item__link {
  grid-area: c;
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  align-items: center;
  color: #005f73;
  margin-right: 0.5rem;
}
.artcl-item__link:visited {
  color: #ca6702;
}
.artcl-item__link::before {
  content: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_241_7)"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 15C4.134 15 1 11.865 1 8C1 4.135 4.134 1 8 1C11.866 1 15 4.135 15 8C15 11.865 11.866 15 8 15ZM8 0C3.5815 0 0 3.58 0 8C0 12.42 3.5815 16 8 16C12.4185 16 16 12.42 16 8C16 3.58 12.4185 0 8 0ZM11.2675 7.56L8.4395 4.72998C8.244 4.53498 7.9275 4.53498 7.7325 4.72998C7.537 4.92998 7.537 5.245 7.7325 5.44L9.793 7.5H4.5C4.2235 7.5 4 7.725 4 8C4 8.275 4.2235 8.5 4.5 8.5H9.793L7.7325 10.56C7.537 10.755 7.537 11.075 7.7325 11.27C7.9275 11.465 8.244 11.465 8.4395 11.27L11.2675 8.44C11.3875 8.32 11.425 8.155 11.3975 8C11.425 7.845 11.3875 7.68 11.2675 7.56Z" fill="%23005F73"/></g><defs><clipPath id="clip0_241_7"><rect width="16" height="16" fill="white"/></clipPath></defs></svg>');
}
.artcl-item__link::before:visited {
  content: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_144_1309)"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 15C4.134 15 1 11.865 1 8C1 4.135 4.134 1 8 1C11.866 1 15 4.135 15 8C15 11.865 11.866 15 8 15ZM8 0C3.5815 0 0 3.58 0 8C0 12.42 3.5815 16 8 16C12.4185 16 16 12.42 16 8C16 3.58 12.4185 0 8 0ZM11.2675 7.56L8.4395 4.72998C8.244 4.53498 7.9275 4.53498 7.7325 4.72998C7.537 4.92998 7.537 5.245 7.7325 5.44L9.793 7.5H4.5C4.2235 7.5 4 7.725 4 8C4 8.275 4.2235 8.5 4.5 8.5H9.793L7.7325 10.56C7.537 10.755 7.537 11.075 7.7325 11.27C7.9275 11.465 8.244 11.465 8.4395 11.27L11.2675 8.44C11.3875 8.32 11.425 8.155 11.3975 8C11.425 7.845 11.3875 7.68 11.2675 7.56Z" fill="%23E76F51"/></g><defs><clipPath id="clip0_144_1309"><rect width="16" height="16" fill="white"/></clipPath></defs></svg>');
}
@media screen and (min-width: 960px) {
  .artcl-holder {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
}

/*galary*/
.galary {
  display: grid;
  align-content: center;
  align-items: center;
  text-align: center;
}
.galary__item {
  height: 50vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.galary__item-1 {
  background-image: linear-gradient(hsla(197, 100%, 5%, 0.5), hsla(197, 100%, 5%, 0.5)), url(../img/salle1.webp);
}
.galary__item-1:hover {
  background-image: url(../img/salle1.webp);
}
.galary__item-2 {
  background-image: linear-gradient(hsla(197, 100%, 5%, 0.5), hsla(197, 100%, 5%, 0.5)), url(../img/salle2-50.webp);
}
.galary__item-2:hover {
  background-image: url(../img/salle2-50.webp);
}
.galary__lnk {
  font-size: 1.5rem;
  text-align: center;
  color: #ffffff;
}
@media screen and (min-width: 960px) {
  .galary {
    grid-template-columns: 1fr 1fr;
  }
}

/*footer*/
.footer {
  border-top: 1px solid hsla(197, 100%, 5%, 0.5);
  margin: 0 0.5rem;
}
.footer-nav__menu {
  text-decoration: underline;
  color: #0a9396;
  display: grid;
  justify-items: space-between;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.footer-nav__link {
  text-decoration: underline;
  color: #005f73;
}
.footer-nav__link:visited {
  color: #ca6702;
}
@media screen and (min-width: 960px) {
  .footer-nav__menu {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.social-media__menu {
  display: flex;
  justify-content: space-around;
  color: #005f73;
}
.copywrite {
  margin: 1rem;
  color: hsla(197, 100%, 5%, 0.5);
}

/*page title*/
.reservation-ttl {
  text-align: center;
}
.reservation-form {
  width: 22.5rem;
  margin: 0 auto;
}
.reservation-form__btn {
  color: #ffffff;
  width: 22.5rem;
  aspect-ratio: 6;
  font-size: 1.125rem;
}

@media screen and (min-width: 960px) {
  .reservation-form {
    min-width: 39.583rem;
    padding: 3rem 2rem;
    margin-top: 2rem;
    border: 1px solid #001219;
  }
  .reservation-form__btn-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
/*booking session*/
.participant__container {
  width: calc(100% - 1rem);
  display: flex;
  justify-content: space-between;
  margin: 0 0.5rem;
}
@media screen and (min-width: 960px) {
  .participant__container {
    width: calc(50% - 1rem);
  }
}
.participant__input {
  width: 60%;
  text-align: center;
}
.participant__btn {
  width: 20%;
  aspect-ratio: 2/1;
  background-repeat: no-repeat;
  background-position: center;
}
.participant__btn--minus {
  background-image: url('data:image/svg+xml,<svg width="20" height="4" viewBox="0 0 20 4" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.00622559 2C0.00622559 1.17155 0.453946 0.5 1.00623 0.5H19.0062C19.5585 0.5 20.0062 1.17155 20.0062 2C20.0062 2.82845 19.5585 3.5 19.0062 3.5H1.00623C0.453946 3.5 0.00622559 2.82845 0.00622559 2Z" fill="%230F0F0F"/></svg>');
}
.participant__btn--minus:active {
  background-color: #ca6702;
}
.participant__btn--plus {
  background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.0062 1C11.0062 0.44772 10.5585 0 10.0062 0C9.45393 0 9.00623 0.44772 9.00623 1V9H1.00623C0.453946 9 0.00622559 9.4477 0.00622559 10C0.00622559 10.5523 0.453946 11 1.00623 11H9.00623V19C9.00623 19.5523 9.45393 20 10.0062 20C10.5585 20 11.0062 19.5523 11.0062 19V11H19.0062C19.5585 11 20.0062 10.5523 20.0062 10C20.0062 9.4477 19.5585 9 19.0062 9H11.0062V1Z" fill="%230F0F0F"/></svg>');
}
.participant__btn--plus:active {
  background-color: #0a9396;
}
.participant__img {
  margin: 0 auto;
  text-align: center;
}

.calender__display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 960px) {
  .calender__display {
    width: 50%;
  }
}
.calender-container {
  margin: 2rem 0;
}
.calender__header {
  display: flex;
  width: calc(100% - 1rem);
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}
.calender__ttl {
  font-size: 1.125rem;
  font-weight: bold;
  color: #001219;
}
.calender__week {
  width: calc(100% - 1rem);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: 600;
}
.calender__week--day {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 1/1;
}
.calender__month {
  width: calc(100% - 1rem);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.calender__month--day {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 1/1;
  border: 1px solid #D5D4DF;
}
.calender__month--day:not(.disactive):hover {
  background-color: #0a9396;
}
.calender__selected-txt {
  margin: 1rem;
  text-align: center;
  color: #0a9396;
}

.hours__display {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 960px) {
  .hours__display {
    width: 50%;
  }
}
.hours__container {
  width: calc(100% - 1rem);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.hours__container--element {
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 1/1;
  border: 1px solid #D5D4DF;
}
.hours__container--element:not(.disactive):hover {
  background-color: #0a9396;
}/*# sourceMappingURL=style.css.map */