/*utils*/
.container {
  max-width: $container-width;
  margin: 0 auto;
}

.section {
  margin: 2.375rem 0rem;
  text-align: center;
}

.active {
  color: $white;
  background-color: $turquoise;
}

.disactive {
  color: $dark-red;
  background-color: $light-gray;
}

.error {
  color: $dark-red !important;
}


