// SIZES
$default-size: 16px;
$container-width: 1440px;
// BREAKPOINTS
$bp-desktop: 960px;
// COLORS
$white: #ffffff;
$black: #001219;
$black-50: hsla(197, 100%, 5%, 0.5);
$blue-petrol: #005f73;
$turquoise: #0a9396;
$sand: #e9d8a6;
$sand-15: rgba(233, 216, 166, 0.15);
$light-orange: #ee9b00;
$light-orange-50: hsla(39, 100%, 47%, 0.5);
$dark-orange: #ca6702;
$dark-red: #9b2226;
$gray: #d5d4df;
$light-gray: #f5f5f5;
$dark-gray: #a8a8a8;
//font
$font: "Roboto", sans-serif;
