/*form title*/
%form-ttl {
  display: block;
  margin: 2.375rem 0 1rem 0;
  font-size: 1.125rem;
  font-weight: 600;
  background-color: $light-orange-50;
  padding: 0.5rem;
  @include desktop-only() {
    width: 40%;
    font-size: 1rem;
  }
}

%form-main-ttl {
  display: block;
  margin: 2.375rem 0 1rem 0;
  font-size: 1.125rem;
  font-weight: 600;
  background-color: $light-orange-50;
  padding: 0.5rem;
  @include desktop-only() {
    width: 100%;
    font-size: 1rem;
  }
}


/*form input*/
%form-input {
  font-size: 1.125rem;
  position: relative;
  display: inline-block;
  height: 2.5rem;
  padding: 0.5rem;
  background-color: $white;
  border: 1px solid $black-50;
  filter: drop-shadow(0px 3px $black-50);
  @include desktop-only() {
    height: 2.5rem;
    font-size: 1rem;
  }
}

%form-select {
  width: calc(100% - 1rem);
  margin: 0 0.5rem;
  @include desktop-only() {
    width: calc(50% - 1rem) !important;
    aspect-ratio: 6.67;
  }
}

@mixin simple-arrow(
  $img:
    url('data:image/svg+xml,<svg width="24" height="13" viewBox="0 0 24 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 1.5L12 11.5L22 1.5" stroke="%23001219" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/></svg>')
) {
  background-image: $img;
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: calc(100% - 0.5rem);
}

/*this used in connection page*/

%form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

%label {
  font-weight: 600;
}

@mixin input($color: $black) {
  padding: .5rem;
  height: 3rem;
  border-color: $color;
  background-color: $sand-15;
  &:required:invalid {
    border: $dark-red solid 2px;
  }
  &:required:valid {
    border: $turquoise solid 2px;
  }
}

/*this used in reservation page*/
//reservation
.closed-simple-arrow {
  background-image: url('data:image/svg+xml,<svg width="24" height="13" viewBox="0 0 24 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M22 11.25L12 1.25L2 11.25" stroke="%23001219" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}

.open-simple-arrow {
  background-image: url('data:image/svg+xml,<svg width="24" height="13" viewBox="0 0 24 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M22 11.25L12 1.25L2 11.25" stroke="%23001219" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}

@mixin cells_conatiner {
  width: calc(100% - 1rem);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

@mixin cell {
  @include centering;
  width: 100%;
  aspect-ratio: 1/1;
}
