// calender

.calender {
  &__display {
    @include centering;
    @include desktop-only() {
      width: 50%;
    }
  }
  &__label {
    @extend %form-ttl;
  }
  &-container {
    margin: 2rem 0;
  }

  &__header {
    display: flex;
    width: calc(100% - 1rem);
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
  }
  &__ttl {
    font-size: 1.125rem;
    font-weight: bold;
    color: $black;
  }
  &__week {
    @include cells_conatiner;
    font-weight: 600;
    &--day {
      @include centering;
      width: 100%;
      aspect-ratio: 1/1;
    }
  }
  &__month {
    @include cells_conatiner;
    &--day {
      // @include centering;
      @include cell;
      border: 1px solid $gray;
      &:not(.disactive):hover {
        background-color: $turquoise;
      }
    }
  }

  &__selected-txt {
    margin: 1rem;
    text-align: center;
    color: $turquoise;
  }
}
