/*footer*/
.footer {
  border-top: 1px solid $black-50;
  margin: 0 0.5rem;

  &-nav__ttle {
    @extend .link;
  }

  &-nav__menu {
    text-decoration: underline;
    color: $turquoise;
    display: grid;
    justify-items: space-between;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  &-nav__link {
    @extend %link;
  }

  @include desktop-only() {
    &-nav__menu {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}

.social-media {
  &__menu {
    display: flex;
    justify-content: space-around;
    color: $blue-petrol;
  }

  &__ttle {
    @extend .link;
  }
}

.copywrite {
  margin: 1rem;
  color: $black-50;
}
