.hours {
  &__display {
    width: 100%;
    @include centering;
    @include desktop-only() {
      width: 50%;
    }
  }
  &__ttl {
    @extend %form-ttl;
  }
  &__container {
    @include cells_conatiner;

    &--element {
      font-size: 0.75rem;
      @include cell;
      border: 1px solid $gray;
      &:not(.disactive):hover {
        background-color: $turquoise;
      }
    }
  }
}
