@mixin sub-steper($direction:center) {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: $direction;
    position: relative;
    height: 4rem;
    width: 33.33%;
    gap: 1rem;
    margin-bottom: 2rem;
}

@mixin steper-img {
    width: 4rem;
    aspect-ratio: 1/1;
}
