/*booking session*/
.duration {
  size: 100%;
  &__ttl {
    @extend %form-ttl;
  }

  &__select {
    width: 100%;
    @extend %form-input;
    @extend %closed-simple-arrow;
  }
}

.participant {
  size: 100%;
  &__ttl {
    @extend %form-ttl;
  }
  &__container {
    width: 22.5rem;
    display: flex;
    justify-content: space-between;

  }
  &__input {
    @extend %form-input;
  }
  &__btn {
    height: 2.5rem;
    aspect-ratio: 1/1;
  }
  &__img {
   margin: 0 auto;
   text-align: center;
  }
}

.hall {
  size: 100%;
  &__ttl {
    @extend %form-ttl;
  }
  &__select {
    width: 100%;
    @extend %form-input;
    @extend %closed-simple-arrow;
  }
}
