/*booking session*/
.duration {
  size: 100%;
  &__ttl {
    @extend %form-ttle;
  }

  &__select {
    @extend %form-input;
  }
}

.Participant {
  size: 100%;
  &__ttl {
    @extend %form-ttle;
  }
  &__select {
    @extend %form-input;
  }
}
.salle {
  size: 100%;
  &__ttl {
    @extend %form-ttle;
  }
  &__select {
    @extend %form-input;
  }
}
