/*booking session*/
.duration {
    size: 100%;
  &__ttle {
    @include select-ttle;
  }

  &__select {
    display: inline-block;
    size: 100%;
    margin: 2rem 0;
    font-size: 1.125rem;
    padding: 0.5rem;
    background-color: $white;
    filter: drop-shadow(0px 3px $black-50);

    &:focus {
      background-color: $sand;
    }

    &:focus {
      background-color: $sand;
    }
  }
  &__option:hover {
    background-color: $sand;
  }
}
