/*page title*/
.hall {
  &__ttl {
    @extend %form-ttl;
  }
  &__select {
    @extend %form-input;
    @extend %open-simple-arrow;
    @extend %form-select;
  }
}

.reservation {
  &-ttl {
    @extend %page-ttl;
    text-align: center;
  }
  &-form {
    width: 22.5rem;
    margin: 0 auto;
    &__btn {
      color: $white;
      width: 22.5rem;
      aspect-ratio: 6;
      font-size: 1.125rem;
    }
  }
}
@include desktop-only() {
  .reservation {
    &-form {
      min-width: 39.583rem;
      padding: 3rem 2rem;
      margin-top: 2rem;
      border: 1px solid $black;
      &__btn {
        &-container {
          width: 100%;
          @include centering;
        }
      }
    }
  }
}

/*booking session*/
.duration {
  &__ttl {
    @extend %form-ttl;
  }

  &__select {
    @extend %form-input;
    @extend %open-simple-arrow;
    @extend %form-select;
  }
}

.participant {
  &__ttl {
    @extend %form-ttl;
  }
  &__container {
    width: calc(100% - 1rem);
    display: flex;
    justify-content: space-between;
    margin: 0 0.5rem;
    @include desktop-only() {
      width: calc(50% - 1rem);
    }
  }
  &__input {
    width: 60%;
    text-align: center;
    @extend %form-input;
  }
  &__btn {
    width: 20%;
    aspect-ratio: 2/1;
    background-repeat: no-repeat;
    background-position: center;
    &--minus {
      background-image: url('data:image/svg+xml,<svg width="20" height="4" viewBox="0 0 20 4" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.00622559 2C0.00622559 1.17155 0.453946 0.5 1.00623 0.5H19.0062C19.5585 0.5 20.0062 1.17155 20.0062 2C20.0062 2.82845 19.5585 3.5 19.0062 3.5H1.00623C0.453946 3.5 0.00622559 2.82845 0.00622559 2Z" fill="%230F0F0F"/></svg>');

      &:active {
        background-color: $dark-orange;
      }
    }
    &--plus {
      background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.0062 1C11.0062 0.44772 10.5585 0 10.0062 0C9.45393 0 9.00623 0.44772 9.00623 1V9H1.00623C0.453946 9 0.00622559 9.4477 0.00622559 10C0.00622559 10.5523 0.453946 11 1.00623 11H9.00623V19C9.00623 19.5523 9.45393 20 10.0062 20C10.5585 20 11.0062 19.5523 11.0062 19V11H19.0062C19.5585 11 20.0062 10.5523 20.0062 10C20.0062 9.4477 19.5585 9 19.0062 9H11.0062V1Z" fill="%230F0F0F"/></svg>');
      &:active {
        background-color: $turquoise;
      }
    }
  }
  &__img {
    margin: 0 auto;
    text-align: center;
  }
}
