/*page title*/
.reservation {
  &-ttl {
    @extend %page-ttl;
    text-align: center;
  }
  &-form__btn {
    font-size: 1.125rem;
    color: $white;
    width: 360px;
    aspect-ratio: 6;
  }
}

/*booking session*/
.duration {
  size: 100%;
  &__ttl {
    @extend %form-ttl;
  }

  &__select {
    width: 100%;
    @extend %form-input;
    @extend %open-simple-arrow;
  }
}

.participant {
  size: 100%;
  &__ttl {
    @extend %form-ttl;
  }
  &__container {
    width: 22.5rem;
    display: flex;
    justify-content: space-between;
  }
  &__input {
    @extend %form-input;
  }
  &__btn {
    height: 2.5rem;
    aspect-ratio: 1/1;
  }
  &__img {
    margin: 0 auto;
    text-align: center;
  }
}

.hall {
  size: 100%;
  &__ttl {
    @extend %form-ttl;
  }
  &__select {
    width: 100%;
    @extend %form-input;
    @extend %open-simple-arrow;
    // &:hover{
    //   background-color: red;

    // }
    // &:checked{
    //   background-color: rgb(102, 255, 0);

    // }
    // &:focus{
    //   background-color: rgb(178, 36, 181);

    // }
    // &:focus-visible{
    //   background-color: rgb(13, 238, 208);

    // }
    // &::placeholder{
    //   background-color: brown;
    // }
    // &:after{
    //   content: ".";
    //   width: 100%;
    //   background-color: #f3a3a3;
    // }
  }
  // &__option {
  //   &:hover{
  //     background-color: red;

  //   }
  //   &:checked{
  //     background-color: rgb(102, 255, 0);

  //   }
  //   &:focus{
  //     background-color: rgb(178, 36, 181);

  //   }
  //   &:focus-visible{
  //     background-color: rgb(13, 238, 208);

  //   }
  //   &::placeholder{
  //     background-color: brown;
  //   }
  //   &:after{
  //     content: ".";
  //     width: 100%;
  //     background-color: #f3a3a3;
  //   }
  // }
}
