/*page title*/
.reservation {
  &-ttl {
    @extend %page-ttl;
    text-align: center;
  }
  &-form {
    width: 22.5rem;
    margin: 0 auto;
    &__btn {
      color: $white;
      width: 22.5rem;
      aspect-ratio: 6;
      font-size: 1.125rem;
    }
  }
}
@include desktop-only() {
  .reservation {
    &-form {
      width: 59.375rem;
      padding: 3rem 2rem;
      margin-top: 2rem;
      border: 1px solid $black;
      &__btn {
        align-self: center;
        &-container {
          width: 100%;
          display: block;
          @include centering;
        }
      }
    }
  }
}

/*booking session*/
.duration {
  &__ttl {
    width: 22.5rem;
    @extend %form-ttl;
  }

  &__select {
    width: 22.5rem;
    @extend %form-input;
    @extend %open-simple-arrow;
  }
}

.participant {
  &__ttl {
    width: 22.5rem;
    @extend %form-ttl;
  }
  &__container {
    width: 22.5rem;
    display: flex;
    justify-content: space-between;
  }
  &__input {
    @extend %form-input;
  }
  &__btn {
    height: 2.5rem;
    aspect-ratio: 1/1;
  }
  &__img {
    margin: 0 auto;
    text-align: center;
  }
}

.hall {
  &__ttl {
    width: 22.5rem;
    @extend %form-ttl;
  }
  &__select {
    width: 22.5rem;
    @extend %form-input;
    @extend %open-simple-arrow;
  }
}
