// to do
.dashboard {
    &-ttl {
        @extend %page-ttl;
        text-align: center;
        margin-bottom: 2rem;
    }

    &-menu {
        display: flex;
        @extend %page-ttl;
        align-items: center;
        justify-content: center;
        &__a {
            @include button;
            &-current {
                @include button($dark-orange);
            }
        }
    }
}
