.stepper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    &-profile {
    
        @include sub-steper(start);
        &::after {
            content: "";
            position: absolute;
            top: 2rem;
            left: 4rem;
            display: block;
            // width: calc(100% / 3 - 4rem);
            width: 3.5rem;
            height: 0.25rem;
            background-color: $sand;
            @include desktop-only() {
            //   width: calc((100% - 4rem) / 3)-4;
            width: 7.861rem;
            }
        }
        &-img {
            @include steper-img;
        }
    }
    &-coordinate {

        @include sub-steper;
        &::after {
            content: "";
            position: absolute;
            top: 2rem;
            left: 4rem;
            display: block;
            // width: calc(100% / 3 - 4rem);
            width: 3.5rem;
            height: 0.25rem;
            background-color: $sand;
            @include desktop-only() {
            //   width: calc((100% - 4rem) / 3)-4;
            width: 7.861rem;
            }
        }
        &-img {
            @include steper-img;
        }
        &-a {
            color: $black-50;
        }
    }
    &-account {
        @include sub-steper(end);
        &-img {
            @include steper-img;
        }
    }
    &-btn {
        &__container {
            display: flex;
            justify-content: space-between;
        }
        &__next {
            @include button;
        }
        &__prev {
            @include button($dark-orange);
        }
    }
}

.signup {
    max-width: 22.5rem;
    margin: 0 auto;
    padding: 1rem;
    @include desktop-only() {
        max-width: 39.583rem;
        padding: 3rem 2rem;
        margin-top: 2rem;
        border: 1px solid $black;
    }

    &-header {
        @extend %page-ttl;
        text-align: center;
        margin-bottom: 2rem;
    }
    &-sub-header {
        margin-bottom: 2rem;
    }
    &-ul {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    &-ttl {
        &__info {
            @extend %form-main-ttl;
        }
        &__coordinate {
            @extend %form-main-ttl;
        }
        &__account {
            @extend %form-main-ttl;
        }
    }
    &-form {
        &__ttl {
            @extend %form-ttl;
            display: flex;
        }
        &__lname {
            @extend %form-container;

            &-label {
                @extend %label;
            }
            &-input {
                @include input;
            }
        }
        &__fname {
            @extend %form-container;

            &-label {
                @extend %label;
            }
            &-input {
                @include input;
            }
        }
        &__birthdate {
            @extend %form-container;

            &-label {
                @extend %label;
            }
            &-input {
                @include input;
            }
        }
        &__tel {
            @extend %form-container;

            &-label {
                @extend %label;
            }
            &-input {
                @include input;
            }
        }
        &__adresse {
            @extend %form-container;

            &-label {
                @extend %label;
            }
            &-input {
                @include input;
            }
        }
        &__city {
            @extend %form-container;

            &-label {
                @extend %label;
            }
            &-input {
                @include input;
            }
        }
        &__email {
            @extend %form-container;

            &-label {
                @extend %label;
            }
            &-input {
                @include input;
            }
        }
        &__password {
            @extend %form-container;

            &-label {
                @extend %label;
            }
            &-input {
                @include input;
            }
        }
        &__confirm-psw {
            @extend %form-container;

            &-label {
                @extend %label;
            }
            &-input {
                @include input;
            }
        }
    }
}
