/*btn*/
.btn {
  font-size: 1.125rem;
  padding: 0.5rem 1rem;
  color: $white;
}


.btn--blue-petrol {
  background-color: $blue-petrol;
  margin-top: 2rem;
  stroke: $white;
  &:hover {
    background-color: $white;
    border: solid $blue-petrol 1px;
    color: $blue-petrol;
    stroke: $blue-petrol;
  }
}

.hero-banner__btn {
  background-color: $dark-orange;
  &:hover {
    background-color: $white;
    border: solid $dark-orange 1px;
    color: $dark-orange;
  }
}

$sections: ("reserve", "card", "about-us", "artcl", "conact-us");

@each $section in $sections {
  .#{$section}__btn {
    @extend .btn; 
    @extend .btn--blue-petrol;
  }
}

.circle-btn {
  background-image: url('data:image/svg+xml,<svg width="44" height="24" viewBox="0 0 44 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 2L22.2446 22.2459L42.4891 2" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
  width: 4rem;
  aspect-ratio: 1 / 1;
  background-color: $dark-orange;
  border-radius: 50%;
  display: flex;
  align-content: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  &:hover {
    background-image: url('data:image/svg+xml,<svg width="44" height="24" viewBox="0 0 44 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 2L22.2446 22.2459L42.4891 2" stroke="%23CA6702" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    background-color: $white;
    border: solid $dark-orange 1px;
    width: 4.5rem;
  }
}

.conact-us__btn {
  size: 100vw;
  height: 7.4rem;
  max-height: 10.7rem;
  background-image: url('data:image/svg+xml,<svg width="66" height="67" viewBox="0 0 66 67" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.95176 7.72273C8.97935 3.48728 10.4027 2.29935 12.119 1.7465C13.3068 1.43581 14.5525 1.41854 15.7485 1.69625C17.3229 2.15314 17.7394 2.50038 22.9019 7.63592C27.4375 12.1455 27.8906 12.6344 28.3254 13.5162C29.157 15.0641 29.287 16.8926 28.6824 18.5421C28.2247 19.7985 27.5748 20.6301 24.8241 23.3852L23.03 25.181C22.5591 25.6589 22.4483 26.3845 22.7554 26.9812C26.7418 33.7698 32.3969 39.4312 39.1862 43.4295C39.9679 43.8471 40.9304 43.7124 41.5661 43.096L43.2916 41.4009C44.358 40.3094 45.4875 39.2814 46.6739 38.3214C48.5375 37.1792 50.8594 37.0773 52.8159 38.0519C53.7725 38.5087 54.0883 38.792 58.7658 43.4524C63.5898 48.2544 63.7271 48.4052 64.258 49.5063C65.2571 51.3288 65.2466 53.5366 64.2305 55.35C63.7133 56.3735 63.3975 56.7436 60.6835 59.5124C59.045 61.1846 57.5026 62.7106 57.2555 62.9345C55.0165 64.7849 52.1441 65.6928 49.246 65.4657C43.9443 64.9832 38.8123 63.3471 34.2112 60.6729C24.0195 55.2819 15.343 47.4279 8.97478 37.828C7.58773 35.8185 6.3546 33.7077 5.28586 31.5136C2.41886 26.6079 0.938349 21.0182 1.00197 15.3392C1.22083 12.3683 2.64802 9.61621 4.95176 7.72273Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-size: 4rem;
  background-repeat: no-repeat;
  background-position-x: calc(50% - 8rem);
  background-position-y: 50%;
  &:hover {
    background-image: url('data:image/svg+xml,<svg width="66" height="66" viewBox="0 0 66 66" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.95176 7.22273C8.97935 2.98728 10.4027 1.79935 12.119 1.2465C13.3068 0.935812 14.5525 0.918543 15.7485 1.19625C17.3229 1.65314 17.7394 2.00038 22.9019 7.13592C27.4375 11.6455 27.8906 12.1344 28.3254 13.0162C29.157 14.5641 29.287 16.3926 28.6824 18.0421C28.2247 19.2985 27.5748 20.1301 24.8241 22.8852L23.03 24.681C22.5591 25.1589 22.4483 25.8845 22.7554 26.4812C26.7418 33.2698 32.3969 38.9312 39.1862 42.9295C39.9679 43.3471 40.9304 43.2124 41.5661 42.596L43.2916 40.9009C44.358 39.8094 45.4875 38.7814 46.6739 37.8214C48.5375 36.6792 50.8594 36.5773 52.8159 37.5519C53.7725 38.0087 54.0883 38.292 58.7658 42.9524C63.5898 47.7544 63.7271 47.9052 64.258 49.0063C65.2571 50.8288 65.2466 53.0366 64.2305 54.85C63.7133 55.8735 63.3975 56.2436 60.6835 59.0124C59.045 60.6846 57.5026 62.2106 57.2555 62.4345C55.0165 64.2849 52.1441 65.1928 49.246 64.9657C43.9443 64.4832 38.8123 62.8471 34.2112 60.1729C24.0195 54.7819 15.343 46.9279 8.97478 37.328C7.58773 35.3185 6.3546 33.2077 5.28586 31.0136C2.41886 26.1079 0.938349 20.5182 1.00197 14.8392C1.22083 11.8683 2.64802 9.11621 4.95176 7.22273Z" stroke="%23005F73" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  }
}

@include desktop-only() {
  .circle-btn {
    display: none;
    visibility: hidden;
  }
}


%participant_btn{
  height: 2.5rem;
  aspect-ratio: 1/1;
}