// calender
//please don't change the css names until you will change it in js script

.calender {
  &-container {
    margin: 2rem 0;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
  }
  &__ttl {
    font-size: 1.125rem;
    font-weight: bold;
    color: $black;
  }
  &__week {
    @include cells;
    font-weight: 600;
    &--day {
      @include centering;
      height: 3rem;
      width: 3em;
    }
  }
  &__month {
    @include cells;
    &--day {
      @include centering;
      height: 3rem;
      width: 3rem;
      border: 1px ridge $sand;
      &:hover {
        background-color: $turquoise;
      }
    }
  }

  &__selected-txt {
    margin: 1rem;
    text-align: center;
    color: $turquoise;
  }
}
