// calender

.calender {
  &__label {
    @extend %form-ttl;
  }
  &-container {
    margin: 2rem 0;
  }
  &__display {
    @include centering;
  }

  &__header {
    display: flex;
    width: 21rem;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
  }
  &__ttl {
    font-size: 1.125rem;
    font-weight: bold;
    color: $black;
  }
  &__week {
    @include cells;
    font-weight: 600;
    &--day {
      @include centering;
      height: 3rem;
      width: 3rem;
    }
  }
  &__month {
    @include cells;
    &--day {
      @include centering;
      height: 3rem;
      width: 3rem;
      border: 1px solid $gray;
      &:not(.disactive):hover {
        background-color: $turquoise;
      }
    }
  }

  &__selected-txt {
    margin: 1rem;
    text-align: center;
    color: $turquoise;
  }
}

