/*card*/
.card {
  &-holder {
    @include centering;
  }

  & {
    display: flex;
    text-align: center;
    gap: 2rem;
    color: $black;
    background-color: $light-orange;
    @include centering;
  }

  &-events {
    width: 360px;
    padding-bottom: 2.375rem;
  }
  &__txt {
    padding: 0rem 1rem;
  }

  &--padding {
    padding: 2rem 2.5rem;
  }
  &__ttl {
    font-size: 1.5rem;
  }

  &__ttl--h3 {
    font-size: 1.125rem;
  }

  &__img {
    width: 100%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
    background-image: $black-50;
  }

  @include desktop-only() {
    &-events {
      width: 400px;
    }
    &-holder {
      @include centering("raw");
      justify-content: space-between;
    }
  }
}
