/*card*/
.card {
  text-align: center;
  gap: 2rem;
  color: $black;
  background-color: $light-orange;
  margin: 2rem 0;
  @include centering;
  &--padding {
    padding: 2rem 2rem;
  }

  &__txt {
    padding: 0rem 1rem;
  }

  &__ttl {
    font-size: 1.5rem;
  }

  &__ttl--h3 {
    font-size: 1.125rem;
  }

  &__img {
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
    background-color: $black-50;
  }

  &-holder {
    @include centering;
    @include desktop-only() {
      @include centering(row);
      justify-content: space-between;
    }
  }

  &-events {
    width: 360px;
    padding-bottom: 2.375rem;
    @include desktop-only() {
    }
}
}