/*footer*/
.footer {
  border-top: 1px solid $black-50;
  margin: 2rem 0rem;

  &-nav__ttle {
    @extend .link;
  }

  &-nav__menu {
    text-decoration: underline;
    color: $turquoise;
    display: grid;
    justify-items: flex-start;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  &-nav__link {
    text-decoration: underline;
    color: $blue-petrol;
    &:visited {
      color: $dark-orange;
    }
  }

  @include desktop-only() {
    &-nav__menu {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}

.social-media {
  &__menu {
    display: flex;
    justify-content: space-around;
    color: $blue-petrol;
  }

  &__ttle {
    @extend .link;
  }

}

.copywrite {
  margin: 1rem;
  font-size: 0.75rem;
  color: $black-50;
}