/*header*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0.5rem 2rem 0.5rem;
  &-nav {
    &__btn {
      width: 4rem;
      aspect-ratio: 2;
      background-image: url('data:image/svg+xml,<svg width="36" height="20" viewBox="0 0 36 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 2H34M2 10H34M2 18H34" stroke="%23E76F51" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/></svg>');

      background-repeat: no-repeat;
      background-position: right;
      position: relative;

      @include desktop-only() {
        display: none;
      }
    }
    &__menu {
      display: none;
      &--side {
        display: flex;
        @include centering;
        gap: 2rem;
        padding: 2rem;
        position: absolute;
        top: 3.2rem;
        right: 0;
        z-index: 1;
        min-width: 160px;
        background-color: $white;
        // border: 1px solid $light-orange;
      }
      &-link {
        font-size: 0.88rem;
        color: $black;
        text-decoration: underline !important;
        &:hover,
        &:focus {
          color: $turquoise;
        }
      }
      @include desktop-only() {
        display: flex;
        align-items: center;
        gap: 1rem;
      }
    }
  }
}

.logo {
  height: 3.125rem;
  aspect-ratio: 125/50;
}
