/*hero banner*/
.hero-banner {
  height: 100vh;
  background-image: linear-gradient($black-50, $black-50),
    url(../img/herobanner.webp);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  @include centering;
  position: relative;
  gap: 3rem;
  color: $white;

  &__ttl {
    font-size: 1.875rem;
    text-align: center;
  }

  &__subttl {
    text-align: center;
  }


}